.EightBall{
    height: 100%;
    width: 50%;
    margin: auto;

    color:white;
    border-radius: 50%;
    text-align: center;
    text-align: center;
    font-size: x-large;
    height: 100%;
    word-wrap: break-word;
    padding: 10%;
    display: inline-block;
    

}

#root{
    text-align: center;
}

